<hgroup class="title">
    <h1>About</h1>
</hgroup>
<article>
    <p>
        BudgetMVC is a budget project that will alow you to better manager your family finances.
    </p>
</article>
<aside>
    <h3>
        License</h3>
    <p>
        This project is licensed under MIT LICENSE.
    </p>
</aside>