<div class="row">
    <div class="twelve columns">
        <h2>
            BudgetMVC</h2>
        <p>
            Good finacial management makes dreams come true.</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="row">
            <h3>
                Monthly Budget -
                <!--ko text: currentMonthName -->
                <!--/ko-->
                <!--ko text: currentYear -->
                <!--/ko-->
            </h3>
        </div>
        <div class="row">
            <div class="six columns">
                <h4>
                    Revenue</h4>
                <div class="panel">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    Creation Date
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: revenues">
                            <tr>
                                <td data-bind="text: Description">
                                </td>
                                <td data-bind="text: Value">
                                </td>
                                <td data-bind="text: CreationDate">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="six columns">
                <h4>
                    Expenses</h4>
                <div class="panel">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    Creation Date
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: expenses">
                            <tr>
                                <td data-bind="text: Description">
                                </td>
                                <td data-bind="text: Value">
                                </td>
                                <td data-bind="text: CreationDate">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/util/date.helper.js")
    @Scripts.Render("~/Scripts/keymaster.min.js")
    @Scripts.Render("~/Scripts/ViewModel/IndexViewModel.js")
}
