<div class="row">
    <div class="twelve columns">
        <h2>
            BudgetMVC</h2>
        <p>
            Good finacial management makes dreams come true.</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="row">
        <div class="six columns centered">
            <h3>
                Monthly Budget -
                <!--ko text: currentMonthName -->
                <!--/ko-->
                <!--ko text: currentYear -->
                <!--/ko-->
            </h3>
        </div>
        </div>
        <div class="row content">
            <div class="twelve columns">
                <div class="row balance">
                    <div class="four columns centered">
                        <span class="subheader">Balance: </span><span class="subheader" data-bind="text: currentMonthBalance">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <div class="row">
                            <div class="ten columns">
                                <h4>
                                    Revenue</h4>
                            </div>
                            <div class="two columns">
                                <a href="#" class="tiny button" data-bind="click: newRenevue">New</a>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: revenues">
                                <tr>
                                    <td data-bind="text: Description">
                                    </td>
                                    <td data-bind="text: Value">
                                    </td>
                                    <td data-bind="text: CreationDate">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="six columns">
                        <div class="row">
                            <div class="ten columns">
                                <h4>
                                    Expenses</h4>
                            </div>
                            <div class="two columns">
                                <a href="#" class="tiny button" data-bind="click: newExpense">New</a>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: expenses">
                                <tr>
                                    <td data-bind="text: Description">
                                    </td>
                                    <td data-bind="text: Value">
                                    </td>
                                    <td data-bind="text: CreationDate">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="newRevenues" title="Create new Revenue" class="smoothness">
    <p class="validateTips">
        All form fields are required.</p>
    <form>
    <fieldset>
        <label for="Description">
            Description</label>
        <input type="text" name="Description" id="RevenueDescription" />
        <label for="Value">
            Value</label>
        <input type="text" name="Value" id="RevenueValue" value="" />
    </fieldset>
    </form>
</div>
<div id="newExpenses" title="Create new Expenses">
    <p class="validateTips">
        All form fields are required.</p>
    <form>
    <fieldset>
        <label for="Description">
            Description</label>
        <input type="text" name="Description" id="ExpenseDescription" />
        <label for="Value">
            Value</label>
        <input type="text" name="Value" id="ExpenseValue" value="" />
    </fieldset>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/util/date.helper.js")
    @Scripts.Render("~/Scripts/keymaster.min.js")
    @Scripts.Render("~/Scripts/ViewModel/IndexViewModel.js")
}
